<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Draw.io</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>


  <%- include ('partials/header') %>
  <section class="titles">

    <h1>Accounts</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maiores consectetur, laboriosam rerum obcaecati.</p>

  </section>

  <section class="container-boxes">

    <section class="titles">

    <% for( let i = 0; i < users.length; i++ ) { %>

      
      <div class="box">
        <a href="./profile/<%=users[i].id%> ">
        <img class="avatar" src="https://res.cloudinary.com/<%=configName%>/image/upload/w_100,h_100,c_fill,q_100/<%=users[i].profilePic%>.jpg">

        <div class="icon">
          <a href=""><i class="fas fa-fire"></i></a>
        </div>
  
        <div class="text">

          <a href="./profile/<%=users[i].id%> ">
            <h3><%= users[i].userName %> </h3>
            <p><%= users[i].email %> </p>
          </a>
          
        </div>
      </a>
      </div>

    <% } %> 
  </section>
    
    
  </section>

</body>

</html>