<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.0-beta1 -->
  <%- include ('partials/bootStrapCSS') %>
  <link rel="stylesheet" href="css/canvasMenu.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>



<body id="body">
  <header>
    <div>
      <i class="fas fa-atom"></i>
      <p>Draw.io</p>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/drawings">Draw</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="./contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main class="container bg-light p-0" id="mainContainer">

    <h2>New Drawing</h2>
    <a href="/draw/%>"> <img src="<%=/images/newDrawing.png%>" alt="new drawing" class="mb-5" width="200px"> </a>
    <% if(drawings.length > 0){ %>
        <% for( let index = 0; index < drawings.length; index++ ) { %>
            <h2><%= drawings[index].title %> </h2>
            <a href="/draw/<%=drawings[index].body%>"> <img src="<%=drawings[index].body%>" alt="drawing <%= index %>" width="200px" class="mb-5"> </a>
    <% }} %>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <%- include ('partials/bootStrapLibraries') %> 
  <script src="scripts/canvas.js"></script>
  <script src="scripts/canvasMenu.js"></script>

</body>

</html>