<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
  <%- include ('partials/header') %>
      <div class="content-profile-page">
        <div class="profile-user-page card">
           <div class="img-user-profile">
             <img class="profile-bgHome" src="https://i.gifer.com/U1qz.gif" />
            
             
             <img class="avatar" src="https://res.cloudinary.com/<%=configName%>/image/upload/w_100,h_100,c_fill,q_100/<%=profilePic%>.jpg">
             <form id="upload-form">
                <input id="file-field" type="file"/>
                <button type="submit">Upload</button>
            </form>    


            </div>
               <div class="user-profile-data">
                 <h1><%= user.userName %> </h1>
                 <p><%= user.email %> </p>
               </div> 
               <div class="description-profile">Description</div>
            <ul class="data-user">
             <li><a><strong>0</strong><span>Posts</span></a></li>
             <li><a href="/followers/<%= user.id %> "><strong><%= followers.length -1 %> </strong><span>Followers</span></a></li>
             <li><a href=""><strong><%= following.length -1 %> </strong><span>Following</span></a></li>
            </ul>
           </div>
         </div>

         <hr class="line">

         <!-- <form method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="submit">
         </form> -->

         <% for( let i = 0; i < drawings.length; i++ ) { %>
          <img class="avatar" src="<%= drawings[i] %> ">
         <% } %>  

         <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
         <script src="/client-side.js"></script>
</body>
</html>